body {
    background-color: rgb(214, 214, 214);
}

main {
    background-color: white;
    max-width: 300px;
    max-height: 300px;
    padding:3%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px grey;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

label{
    color: rgb(95, 95, 95);
}

button, input {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
}

.label_input > p {
    margin: 10px 0px;
}

