body {
    background-color: rgb(212, 212, 212);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px auto;
    width: 70%;
}

header {
    text-align: center;
    margin: 0px 0px 5px 0px;
    background-color: rgb(91, 91, 91);
    padding: 3%;
    border-radius: 10px;
}

nav {
    background-color: rgb(91, 91, 91);
    margin: 0px 0px 5px 0px;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    position: sticky;
    top: 0;
}

ul {
    margin: 0px;
    padding: 0px;
}

nav li{
    display: inline-block;
    padding: 0px 12px;
}

main{
    background-color: white;
    padding:3%;
    border-radius: 10px;
}
footer{
    background-color: rgb(91, 91, 91);
    margin: 10px 0px 50px 0px;
    color: rgb(226, 226, 226);
    padding: 10px;
    border-radius: 10px;
}

h1 {
    color: white;
}

h2 {
    color: rgb(95, 95, 95);
}

a:link, a:visited {
    text-decoration: none;
    color: rgb(192, 192, 192);
}

a:hover, a:active {
    text-decoration: none;
    color: rgb(226, 226, 226);
}

img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 5px 5px 5px gray;
}

